.about {
  position: relative;
  z-index: 6;

  width: auto;
  margin-bottom: -30px;
  padding-top: 63px;
  padding-bottom: 81px;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $dark-blue-grey;
}

.about__wrapper {
  position: relative;
  z-index: 0;

  padding: 0 50px;

  &::before {
    position: absolute;
    z-index: -1;
    top: -33px;
    left: 0;

    width: 113px;
    height: 132px;

    content: "";

    border-radius: 20px;
    background-color: $dark-blue-grey-four;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 19px;
}

.about__plain-text {
  margin: 0;
  margin-bottom: 19px;

  color: white;

  br:first-child {
    display: block;
  }

  br:last-child {
    display: none;
  }
}

.about__bold-text {
  color: white;
  margin: 0;
}

.about__picture {
  position: absolute;
  z-index: -1;
  bottom: -89px;
  right: 10px;
}

.about__img {
  width: 292px;
  height: 352px;
}

.about__btn {
  display: none;
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .about {
    width: auto;
    margin: 0;
    margin-bottom: -60px;
    padding-top: 60px;
    padding-bottom: 46px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .about__wrapper {
    position: relative;

    width: 89.6%; /* 688px / 768px ~= 90% */
    max-width: 1320px; /* 1320px / .90 ~= 1188px (центровка начнётся чуть раньше 1440px) */
    margin: 0 auto;
    padding: 42px 35px;

    &::before {
      top: 0;
      width: 100%;
      height: 213px;
      border-radius: 20px;
    }
  }

  .about__title {
    margin: 0 0 40px;

    max-width: 52%;
  }

  .about__content {
    margin-bottom: 51px;
  }

  .about__plain-text {
    max-width: 48.9%;
    color: white;
    margin: 0 0 31px;

    br:first-child {
      display: none;
    }

    br:last-child {
      display: block;
    }
  }

  .about__bold-text {
    max-width: 48.7%;
    color: white;
    margin: 0;
  }

  .about__picture {
    bottom: 36px;
    right: -33px;
  }

  .about__img {
    width: 376px;
    height: 548px;
  }

  .about__btn {
    display: block;
    width: 275px;
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .about {
    padding-top: 131px;
    padding-bottom: 103px;
  }

  .about__wrapper {
    width: 100%;
    padding: 60px 70px;

    &::before {
      width: 213px;
    }
  }

  .about__img {
    width: 630px;
    height: 665px;
  }

  .about__title {
    margin: 0 0 59px;
  }

  .about__content {
    margin-bottom: 84px;
  }

  .about__plain-text {
    max-width: 54%;
    margin: 0 0 38px;

    br:last-child {
      display: none;
    }
  }

  .about__bold-text {
    max-width: 40%;
  }

  .about__picture {
    bottom: -110px;
    right: 0;
  }
}
