.btn {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;

  display: block;

  text-align: center;
  text-transform: uppercase;

  color: $dark-two;
  border-radius: 60px;
  background-color: $light-gold;

  &--show-all {
    font-size: 18px;
    text-transform: none;
    text-align: left;
    width: 100%;
    padding: 17px 23px 15px;
    border-radius: 10px;
  }

  &:hover {
    background-color: $mango-two;
  }

  &:active {
    color: rgba($dark-two, 0.3);
  }
}
