.calendar {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.calendar__month {
  display: flex;
  flex-direction: row;

  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 10px;

  border-top: 1px solid $cloudy-blue;
  border-bottom: 1px solid $cloudy-blue;

  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.calendar__control {
  @include btn-res;

  display: block;

  width: 9px;
  height: 17px;

  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 9px 17px;

  &--prev {
    background-image: url("../img/svg/month-arrow-left.svg");
  }

  &--next {
    background-image: url("../img/svg/month-arrow-right.svg");
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__list {
  @include list-reset;
}

.calendar__item {
  font-size: 20px;
  letter-spacing: normal;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;

  color: $dark-slate-blue;
}

.calendar__table {
  border-collapse: collapse;
  width: 100%;
  height: 217px;
}

.calendar__day,
.calendar__number {
  height: 31px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;

  padding: 0;

  text-align: center;
}

.calendar__day {
  color: $greyish-brown;

  &--weekend {
    color: red;
  }
}

.calendar__day span {
  &:first-child {
    text-transform: uppercase;
  }

  &:last-child {
    text-transform: lowercase;
    display: none;
  }
}

.calendar__number {
  border: 1px solid $cloudy-blue;
  background-color: $pale-grey;

  a {
    color: $greyish-brown;
  }

  &--current {
    outline: 2px solid red;
    outline-offset: -2px;
  }

  &--active {
    background-color: $dark-slate-blue;

    a {
      color: white;
    }
  }

  &--not-available {
    background-color: transparent;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .calendar__month {
    padding-top: 26px;
    padding-bottom: 19px;
    margin-bottom: 33px;
  }

  .calendar__control {
    background-size: 19px 34px;
    width: 50px;
    height: 34px;
  }

  .calendar__item {
    font-size: 36px;
    line-height: 40px;
  }

  .calendar__day,
  .calendar__number {
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 1.8px;
  }

  .calendar__day span {
    &:last-child {
      display: inline;
    }
  }

  .calendar__number {
    height: 69px;
  }
}

@media (min-width: $desktop-width) {
  .calendar__month {
    margin-bottom: 5px;
  }

  .calendar__table {
    width: 100%;
  }

  .calendar__control {
    width: 20px;
  }

  .calendar__day,
  .calendar__number {
    text-align: left;
    padding: 6px 15px;
    vertical-align: top;
  }

  .calendar__day {
    height: 50px;
  }

  .calendar__number {
    height: 71px;
  }

  .calendar__number--check-in {
    position: relative;

    &::after {
      position: absolute;
      color: white;
      content: "Заезд";
      bottom: 7px;
      left: 14px;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 1.8px;
      text-align: left;
    }
  }

  .calendar__number--check-out {
    position: relative;

    &::after {
      position: absolute;
      color: white;
      content: "Выезд";
      bottom: 7px;
      left: 14px;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 1.8px;
      text-align: left;
    }
  }

  .calendar__number--mar {
    position: relative;

    &::after {
      position: absolute;
      color: inherit;
      content: "мар";
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 1.8px;
      text-align: left;
    }
  }

  .calendar__number--apr {
    position: relative;

    &::after {
      position: absolute;
      color: inherit;
      content: "апр";
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: 1.8px;
      text-align: left;
    }
  }
}
