.calendar__slider {
  display: flex;
  flex-direction: row;

  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 10px;

  border-top: 1px solid $cloudy-blue;
  border-bottom: 1px solid $cloudy-blue;

  justify-content: space-between;
  align-items: center;
}

.calendar__list {
  @include list-reset;
}

.calendar__item {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;

  color: $dark-slate-blue;
}

.calendar__table {
  border-collapse: collapse;
}

.calendar__day,
.calendar__number {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;

  height: 31px;
  padding: 0;

  text-align: center;
  vertical-align: center;
}

.calendar__day {
  width: 31px;

  color: $greyish-brown;

  &--weekend {
    color: red;
  }

  &:nth-child(2n) {
    width: 32px;
  }
}

.calendar__number {
  border: 1px solid $cloudy-blue;

  a {
    color: $greyish-brown;
  }

  &--current {
    outline: 2px solid red;
    outline-offset: -2px;
  }

  &--active {
    background-color: $dark-slate-blue;

    a {
      color: white;
    }
  }

  &--not-available {
    a {
      color: rgba($greyish-brown, 0.3);
    }
  }
}
