.contact-item {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;

  &:hover {
    color: $mango-two;

    svg {
      fill: $mango-two;
    }
  }

  &:active {
    color: rgba($mango-two, 0.3);

    svg {
      opacity: 0.3;
    }
  }
}

.contact-item--feedback {
  .contact-item__text {
    color: $light-gold;
  }
}

.contact-item__wrapper {
  display: flex;

  width: 45px;
  height: 45px;
  margin: 0;
  margin-right: 16px;

  border-radius: 50%;
  background-color: $dark-blue-grey-two;
}

.contact-item__icon {
  width: 18px;
  margin: auto;
  fill: $light-gold;

  &--tel {
    height: 18px;
  }

  &--mail {
    height: 13px;
  }
}

.contact-item__text {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;

  text-transform: uppercase;

  color: $dark-two;
  max-width: 205px;
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .contact-item__wrapper {
    width: 68px;
    height: 68px;
    margin-right: 23px;
  }

  .contact-item__icon {
    width: 27px;

    &--tel {
      height: 27px;
    }

    &--mail {
      height: 20px;
    }
  }

  .contact-item__text {
    font-size: 28px;
    line-height: 28px;

    padding-top: 10px;
    max-width: none;
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .contact-item {
    margin-right: 110px;

    &:last-child {
      margin-right: 0;
    }
  }

  .contact-item__wrapper {
    width: 90px;
    height: 90px;
    margin-right: 32px;
  }

  .contact-item__text {
    padding-top: 5px;
  }
}
