.contact-item {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;

  &:hover {
    color: $mango-two;

    svg {
      fill: $mango-two;
    }
  }

  &:active {
    color: rgba($mango-two, 0.3);

    svg {
      opacity: 0.3;
    }
  }

  &--feedback {
    color: $light-gold;
  }
}

.contact-item__icon {
  display: flex;

  width: 45px;
  height: 45px;
  margin: 0;
  margin-right: 16px;

  border-radius: 50%;
  background-color: $dark-blue-grey-two;

  svg {
    margin: auto;
  }
}

.contact-item__text {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;

  text-transform: uppercase;

  color: $dark-two;
}

@media (min-width: $tablet-width) {
  .contact-item__icon {
    width: 68px;
    height: 68px;
    margin-right: 23px;
  }

  .contact-item__text {
    font-size: 28px;
    line-height: 28px;

    padding-top: 10px;
  }
}
