.dates__people {
  margin-bottom: 21px;
}

.dates__title {
  display: flex;
  flex-direction: row;

  margin-bottom: 8px;

  justify-content: space-between;
  align-items: flex-start;

  span {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    letter-spacing: 1.6px;
    text-transform: uppercase;

    color: $dark-slate-blue;

    &:last-child {
      color: rgba($dark-slate-blue, 0.3);
    }
  }
}

.dates__field {
  position: relative;
}

.dates__input {
  font-size: 15px;
  font-weight: 500;
  line-height: 13.5px;

  width: 100%;
  padding: 15px 45px 10px;

  text-align: center;

  color: $dark-slate-blue;
  border: 1px solid $cloudy-blue;
  border-radius: 3px;

  &:hover {
    border-color: $bluey-grey;

    & + .dates__btn {
      svg {
        fill: $bluey-grey;
      }
    }
  }

  &:focus {
    border-color: $dark-two;

    & + .dates__btn {
      svg {
        fill: $dark-two;
      }
    }
  }
}

.dates__btn {
  @include btn-res;
  position: absolute;
  top: 0;

  display: flex;

  width: 43px;
  height: 100%;

  svg {
    margin: auto;
    fill: rgba($greyish-brown, 0.2);
  }

  &--minus {
    left: 0;
  }

  &--plus {
    right: 0;
  }

  &:hover {
    svg {
      fill: rgba($greyish-brown, 0.4);
    }
  }

  &:active {
    svg {
      fill: rgba($greyish-brown, 0.1);
    }
  }
}

.dates__duration {
  margin-bottom: 25px;
}

.dates__children {
  margin: 0;
  margin-bottom: 22px;

  input[type="checkbox"] {
    &:checked + label {
      &::after {
        display: block;
      }
    }

    &:hover + label,
    &:focus + label {
      &::before {
        border-color: $bluey-grey;
      }
    }

    &:active + label {
      &::before {
        border-color: $pale-grey-three;
        background-color: $pale-grey-three;
      }
    }
  }

  label {
    display: block;

    cursor: pointer;
    user-select: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 21px;

    position: relative;

    padding-left: 39px;

    color: $greyish-brown;

    &::before {
      position: absolute;
      top: -4px;
      left: 0;

      width: 26px;
      height: 26px;

      content: "";

      border: 1px solid $cloudy-blue;
      border-radius: 4px;
      background-color: white;
    }

    &::after {
      position: absolute;
      top: 4px;
      left: 9px;

      display: none;

      width: 9px;
      height: 9px;

      content: "";

      background-image: url("../img/svg/tick.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.dates__calendar {
  margin-bottom: 22px;
}
