.drop-down {
  display: none;

  background-color: white;

  &.open {
    display: block;
  }
}

.drop-down__wrapper {
  padding-top: 68px;
  padding-bottom: 29px;
}

.drop-down__site-list {
  display: flex;

  margin: 0;
  margin-bottom: 49px;
  padding: 0;
}

.drop-down__btn {
  width: 100%;
  margin-bottom: 51px;
  padding: 12px 6px 8px;
}

.drop-down__contacts {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}
