.drop-down {
  background-color: white;
}

.drop-down__wrapper {
  padding: 0 25px;
}

.drop-down__btn {
  width: 100%;
  margin-bottom: 51px;
  padding: 12px 6px 8px;
}

.drop-down__contacts {
  margin-bottom: 30px;
}

.drop-down__social {
  @include list-reset;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .drop-down__wrapper {
    width: 89.6%; /* 688px / 768px ~= 90% */
    max-width: 1320px; /* 1320px / .90 ~= 1188px (центровка начнётся чуть раньше 1440px) */
    margin: 0 auto;
    padding: 0 57px;
  }

  .drop-down__contacts {
    align-self: center;
    margin-bottom: 114px;
  }

  .drop-down__btn {
    display: none;
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .drop-down {
    background-color: $dark-two;
  }

  .drop-down__wrapper {
    width: 100%;
    padding: 0;
  }

  .drop-down__contacts {
    display: none;
  }

  .drop-down__social {
    display: none;
  }
}
