.entertainment__lead {
  margin: 0;
  margin-bottom: 20px;
}

.entertainment label {
  display: flex;
  flex-direction: row;

  margin-bottom: 13px;
  padding-left: 11px;

  justify-content: space-between;
  align-items: center;
}

.entertainment__list {
  @include list-reset;

  position: relative;

  &::before {
    position: absolute;
    top: 11px;

    @media (max-width: 767px) {
      left: -14px;
    }

    width: 2px;
    height: 281px;

    content: "";

    background-color: $dark-slate-blue;
  }
}

.entertainment__item {
  position: relative;
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 11px;

    @media (max-width: 767px) {
      left: -14px;
    }

    width: 15px;
    height: 2px;

    content: "";

    background-color: $dark-slate-blue;
  }

  &::after {
    position: absolute;
    top: 9px;

    @media (max-width: 767px) {
      left: -3px;
    }

    width: 6px;
    height: 6px;

    content: "";

    border-radius: 50%;
    background-color: $dark-slate-blue;
  }
}

.entertainment textarea {
  position: relative;
  line-height: 1.3;

  width: 100%;
  height: 220px;
  padding: 10px 13px;

  resize: none;

  border: 1px solid $cloudy-blue;
  border-radius: 4px;
  background-color: transparent;
  white-space: inherit;
  color: rgba(68, 68, 68, 0.3);

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: #959bb2;
  }

  &:focus {
    outline: none;
    border-color: $dark-two;

    &::placeholder {
      color: $greyish-brown;
    }
  }

  &:focus:invalid {
    border-color: red;
  }

  &:focus:invalid::after {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;

    position: absolute;

    width: 100%;
    height: 57px;

    content: "Это поле должно быть заполнено";
    text-align: left;
    letter-spacing: normal;

    color: red;
    background-color: #f47e7e;
  }
}

.entertainment__country {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.4px;
  text-align: left;
  line-height: 18px;

  position: relative;

  white-space: nowrap;

  color: $dark-slate-blue;

  flex-grow: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-image: linear-gradient(to left, white 30px, transparent 40px);
  }
}

.entertainment__flag {
  width: 35px;
  height: 24px;

  svg {
    width: 35px;
    height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .entertainment__lead {
    width: 100%;
    margin-bottom: 33px;
  }

  .entertainment__list {
    margin-right: 31px;

    &::before {
      position: absolute;
      top: 24px;
      right: -28px;

      width: 3px;
      height: 261px;

      content: "";

      background-color: $dark-slate-blue;
    }
  }

  .entertainment__item {
    margin-bottom: 36px;

    &::before {
      display: none;
    }

    &::after {
      top: 17px;
      right: -34px;
      width: 16px;
      height: 16px;
    }
  }

  .entertainment label {
    padding-left: 0;
    margin-bottom: 29px;
  }

  .entertainment__country {
    font-size: 30px;
    line-height: 0.6;
  }

  .entertainment__flag {
    width: 70px;
    height: 47px;

    svg {
      width: 70px;
      height: 47px;
    }
  }

  .entertainment textarea {
    padding: 17px 35px 17px 17px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    height: 142px;
  }
}

@media (min-width: $desktop-width) {
  .entertainment__lead {
    max-width: 530px;
    margin-bottom: 54px;
  }

  .entertainment__list {
    margin-right: 116px;

    &::before {
      right: 110px;
    }
  }

  .entertainment__item {
    &::after {
      top: 16px;
      right: 103px;
    }
  }

  .entertainment__label {
    margin-bottom: 29px;
  }

  .entertainment textarea {
    width: 82.5%;
    padding: 24px 20px 24px 24px;
  }
}
