.entertainment__heading {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 29px;
  width: 100%;
}

.entertainment__lead {
  margin: 0;
  margin-bottom: 20px;
  width: 96%;
}

.entertainment label {
  display: flex;
  flex-direction: row;

  margin-bottom: 13px;
  padding-left: 11px;

  justify-content: space-between;
  align-items: center;
}

.entertainment textarea {
  line-height: 1.3;

  width: 100%;
  height: 220px;
  padding: 10px 13px;

  resize: none;

  border: 1px solid $cloudy-blue;
  border-radius: 4px;
  background-color: transparent;
}

.entertainment__list {
  @include list-reset;
}

.entertainment__item {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.entertainment__country {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.4px;
  text-align: left;
  line-height: 18px;

  position: relative;

  white-space: nowrap;

  color: $dark-slate-blue;

  flex-grow: 1;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: "";

    background-image: linear-gradient(to left, white 30px, transparent 40px);
  }
}

.entertainment__flag {
  width: 35px;
  height: 24px;
  background-color: $mango;

  svg {
    width: 35px;
    height: 24px;
  }
}

@media (min-width: $tablet-width) {
  .entertainment__lead {
    margin-bottom: 27px;
    width: 100%;
    border-bottom: 1px solid $light-blue-grey-two;
    padding-bottom: 33px;
  }

  .entertainment__item {
    margin-bottom: 36px;
  }

  .entertainment__list {
    margin-right: 31px;
  }

  .entertainment label {
    padding-left: 0;
    margin-bottom: 29px;
  }

  .entertainment__country {
    font-size: 30px;
    line-height: 0.6;
  }

  .entertainment__flag {
    width: 70px;
    height: 47px;

    svg {
      width: 70px;
      height: 47px;
    }
  }

  .entertainment textarea {
    padding: 17px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    height: 142px;
  }
}
