.feedback__registration {
  position: relative;
  z-index: 2;

  width: auto;
  margin-bottom: -30px;
  padding-top: 102px;
  padding-bottom: 28px;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $dark-blue-grey;
}

.feedback__path {
  position: relative;
  z-index: 1;

  width: auto;
  margin-bottom: -30px;
  padding-top: 63px;
  padding-bottom: 35px;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $light-gold;
}

.feedback__wrapper {
  display: flex;
  flex-direction: column;

  padding: 0 25px;

  justify-content: flex-start;
  align-items: center;
}

.feedback__title {
  margin: 0;
  margin-bottom: 19px;
  text-align: center;
  user-select: none;
}

.feedback__lead {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 29px;

  text-align: center;

  justify-content: flex-start;
  align-items: center;
}

.feedback__lead p {
  margin: 0;
  color: white;

  &:first-child {
    max-width: 75%;
  }

  &:last-child {
    max-width: 90%;
  }
}

.feedback__lead a {
  color: $light-gold;
  text-decoration: underline;

  &:hover {
    color: $mango;
  }

  &:active {
    color: rgba($mango, 0.3);
  }
}

.feedback__form {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 29px;
}

.feedback__submit {
  @include btn-res;

  position: relative;

  display: block;
  overflow: hidden;

  width: 60px;
  height: 62px;

  border: none;
  border-radius: 10px;
  background-color: $light-gold;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 10px;
    height: 14px;
    margin: auto;

    content: "";

    background-image: url("../img/svg/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover {
    background-color: $mango-two;
  }

  &:active {
    color: rgba($dark-two, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

.feedback__send {
  display: none;
}

.feedback__email {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  position: relative;

  display: block;

  padding: 13px 19px 11px;

  text-align: left;
  text-transform: none;

  color: $dark-blue-grey;
  border: 4px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;

  flex-grow: 1;

  &::placeholder {
    color: rgba($greyish-brown, 0.3);
  }

  &:hover {
    background-color: $pale-grey;
  }

  &:focus {
    background-color: $dark-blue-grey;
    border: 4px solid white;
    color: white;

    &::placeholder {
      color: $dark-blue-grey;
    }
  }

  &:invalid {
    color: red;
  }
}

.feedback__epilogue {
  margin: 0;
  margin-bottom: 18px;

  text-align: center;

  color: white;
}

.feedback__contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  span {
    color: $light-gold;
  }
}

.feedback__address {
  margin-bottom: 31px;
  width: 100%;
}

.feedback__btn {
  width: 100%;

  svg {
    fill: $dark-slate-blue;
  }
}

.feedback__map iframe {
  z-index: 1;

  width: 100%;
  height: 328px;

  border: none;
  margin-bottom: -3px;
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .feedback__registration {
    width: auto;
    margin: 0;
    margin-bottom: -60px;
    padding-top: 136px;
    padding-bottom: 60px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .feedback__path {
    width: auto;
    margin: 0;
    margin-bottom: -60px;
    padding-top: 106px;
    padding-bottom: 85px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .feedback__wrapper {
    width: 89.6%; /* 688px / 768px ~= 90% */
    max-width: 1320px; /* 1320px / .90 ~= 1188px (центровка начнётся чуть раньше 1440px) */
    margin: 0 auto;
    padding: 0 35px;
  }

  .feedback__title {
    margin: 0 0 57px;
  }

  .feedback__lead {
    margin-bottom: 63px;
  }

  .feedback__lead p {
    &:first-child {
      max-width: none;
    }

    &:last-child {
      max-width: none;
    }
  }

  .feedback__form {
    margin-bottom: 59px;
  }

  .feedback__email {
    font-size: 24px;

    padding: 23px 31px 20px;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .feedback__submit {
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 82px;
    height: 81px;
  }

  .feedback__epilogue {
    margin: 0 0 38px;
  }

  .feedback__epilogue br {
    display: none;
  }

  .feedback__address {
    margin-bottom: 45px;
  }

  .feedback__map iframe {
    height: 574px;
    margin-bottom: -1px;
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .feedback__path .feedback__wrapper {
    justify-content: flex-end;
    flex-direction: row;
  }

  .feedback__wrapper {
    width: 100%;
    padding: 0 73px;
  }

  .feedback__registration {
    padding-top: 167px;
    padding-bottom: 103px;
  }

  .feedback__lead {
    margin-bottom: 57px;
  }

  .feedback__form {
    margin-bottom: 66px;
  }

  .feedback__submit {
    width: 326px;
    padding: 30px 37px 27px;

    &::after {
      right: 38px;
      left: auto;
    }
  }

  .feedback__epilogue {
    font-size: 29.5px;
    line-height: 1.37;
    letter-spacing: -0.3px;
  }

  .feedback__send {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;

    display: block;

    text-align: left;
    text-transform: none;
    word-break: break-word;

    color: $dark-slate-blue;
  }

  .feedback__contacts {
    width: auto;
    flex-direction: row;
  }

  .feedback__path {
    padding-top: 114px;
    padding-bottom: 56px;
  }

  .feedback__address {
    width: auto;
    margin-right: 149px;
    margin-bottom: 0;
  }

  .feedback__btn {
    width: 324px;
  }

  .feedback__map iframe {
    height: 509px;
  }
}
