.fellow-travelers {
  position: relative;
  z-index: 4;

  width: auto;
  margin-bottom: -30px;
  padding-top: 69px;
  padding-bottom: 30px;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: $dark-blue-grey;
}

.fellow-travelers__wrapper {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;

  padding: 33px 25px 0;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  &::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 113px;
    height: 132px;

    content: "";

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $dark-blue-grey-four;
  }

  &::after {
    position: absolute;
    z-index: -1;

    @media (max-width: 1319px) {
      top: 0;
    }

    right: 25px;

    width: 143px;
    height: 143px;

    content: "";

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background-image: url("../img/travellers/smolov-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/travellers/smolov-back-desktop@2x.png");
      background-size: 143px auto;
    }
  }
}

.fellow-travelers__additional {
  display: contents;
}

.fellow-travelers__lead {
  order: 1;
  width: 82%;
  margin-bottom: 56px;
}

.fellow-travelers__title {
  margin: 0;
  margin-bottom: 19px;
}

.fellow-travelers__plain-text {
  margin: 0 0 21px;

  max-width: 220px;

  color: white;

  br {
    display: none;
  }
}

.fellow-travelers__bold-text {
  margin: 0;
  max-width: 200px;

  color: white;

  br {
    display: none;
  }
}

.fellow-travelers__btn {
  display: block;
  order: 3;
  width: 100%;
}

.fellow-travelers__main {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  z-index: 0;

  order: 2;

  &::before {
    position: absolute;
    top: -35px;
    left: -35px;

    width: 71px;
    height: 71px;

    content: "";

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    background-image: url("../img/travellers/rogovaya-back-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/travellers/rogovaya-back-mobile@2x.png");
      background-size: 71px auto;
    }
  }
}

.fellow-travelers__list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.fellow-travelers__item {
  width: 270px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .fellow-travelers {
    width: auto;
    margin: 0;
    margin-bottom: -60px;
    padding-top: 140px;
    padding-bottom: 53px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .fellow-travelers__wrapper {
    position: relative;

    width: 89.6%; /* 688px / 768px ~= 90% */
    max-width: 1320px; /* 1320px / .90 ~= 1188px (центровка начнётся чуть раньше 1440px) */
    margin: 0 auto;
    padding: 61px 35px 35px;

    align-items: flex-start;

    &::before {
      width: 213px;
      height: 213px;

      border-radius: 20px;
    }

    &::after {
      @media (max-width: 1319px) {
        right: 37px;
      }
      width: 285px;
      height: 285px;

      background-image: url("../img/travellers/rogovaya-back-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/travellers/rogovaya-back-desktop@2x.png");
        background-size: 285px auto;
      }
    }
  }

  .fellow-travelers__lead {
    width: auto;
    margin-bottom: 58px;
  }

  .fellow-travelers__title {
    margin: 0 0 57px;
  }

  .fellow-travelers__plain-text {
    position: relative;
    z-index: 1;
    max-width: 485px;
    margin: 0 0 39px;

    br {
      display: block;
    }
  }

  .fellow-travelers__bold-text {
    max-width: 265px;

    br {
      display: block;
    }
  }

  .fellow-travelers__main {
    margin-bottom: 80px;

    &::before {
      top: -35px;
      left: -35px;

      width: 143px;
      height: 143px;

      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      background-image: url("../img/travellers/smolov-back-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/travellers/smolov-back-desktop@2x.png");
        background-size: 143px auto;
      }
    }
  }

  .fellow-travelers__list {
    flex-direction: row;

    align-items: flex-start;
  }

  .fellow-travelers__item {
    width: 285px;
    margin-bottom: 0;
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .fellow-travelers {
    padding-top: 128px;
    padding-bottom: 80px;
  }

  .fellow-travelers__wrapper {
    width: 100%;
    flex-direction: row;

    padding: 61px 0 54px;

    background-position: right top;

    justify-content: space-between;
    align-items: flex-start;

    &::after {
      bottom: 0;
      left: 131px;
    }
  }

  .fellow-travelers__additional {
    display: flex;
    flex-direction: column;

    width: auto;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 71px;
  }

  .fellow-travelers__lead {
    margin-bottom: 83px;
  }

  .fellow-travelers__btn {
    width: 280px;
  }

  .fellow-travelers__main {
    width: 47.7%;
    margin-bottom: 0;

    &::before {
      top: 4px;
      left: -203px;
      background-image: url("../img/travellers/smolov-back-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/travellers/smolov-back-desktop@2x.png");
        background-size: 143px auto;
      }
    }
  }

  .fellow-travelers__list {
    padding-top: 4px;
  }

  .fellow-travelers__item {
    margin-right: 59px;
  }
}
