.filter {
  position: absolute;
  z-index: 5;

  width: 100%;
  padding-top: 32px;
  padding-bottom: 13px;

  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: $pale-grey-four;
}

.filter__top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

.filter__content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: none;
  overflow: hidden;
  margin-top: 14px;
}

.filter--open .filter__content,
.filter--nojs .filter__content {
  display: block;
}

.filter__wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0 25px;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.filter__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 99%;
  align-self: flex-start;
  flex-wrap: wrap;
}

.filter__expands {
  @include btn-res;

  text-align: left;
  word-break: break-word;
  position: relative;

  color: $dark-blue-grey;

  &::after {
    position: absolute;
    top: 8px;
    right: 0;
    content: "";
    width: 17px;
    height: 3px;
    background-image: url("../img/svg/dots.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover {
    color: rgba($dark-two, 0.6);

    &::after {
      opacity: 0.6;
    }
  }

  &:active {
    color: rgba($dark-two, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

.filter--open .filter__expands,
.filter--nojs .filter__expands {
  &::after {
    top: 3px;
    right: 4px;
    width: 12px;
    height: 12px;
    background-image: url("../img/svg/filter-close.svg");
  }
}

.filter__expand {
  display: none;
}

.filter__title {
  width: 90%;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;

  position: relative;

  margin: 0;
  padding-left: 27px;

  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 5px;
    left: 0;
    content: "";
    width: 15px;
    height: 10px;
    background-image: url("../img/svg/filter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.filter__world-parts {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  padding: 0 10%;
  width: 100%;
}

.filter--open .filter__world-parts,
.filter--nojs .filter__world-parts {
  display: flex;
}

.filter__world-part {
  @include btn-res;

  font-size: 16px;
  font-weight: bold;
  line-height: 22px;

  color: rgba($dark-blue-grey, 0.3);
  text-transform: uppercase;
  margin-bottom: 5px;

  &--active {
    color: $dark-blue-grey;
  }

  &:hover {
    color: rgba($dark-blue-grey, 0.6);
  }

  &:active {
    color: $dark-blue-grey;
  }
}

.filter__countries {
  padding-top: 14px;
  margin-bottom: 27px;
  width: 81%;
}

.filter__collapse {
  @include btn-res;

  font-size: 16.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 29.5px;

  width: 100%;
  margin-bottom: 14px;
  padding: 7px 10px 4px;

  letter-spacing: normal;
  text-transform: uppercase;

  color: $dark-slate-blue;
  border-radius: 20px;
  background-color: $light-periwinkle;

  &:hover {
    background-color: #c8cee8;
  }

  &:active {
    span {
      opacity: 0.3;
    }
  }
}

.filter__collapse span {
  position: relative;
  padding-left: 25px;

  &::before {
    position: absolute;
    top: -3px;
    left: 0;
    bottom: 0;

    margin: auto;
    width: 12px;
    height: 12px;

    content: "";

    background-image: url("../img/svg/filter-close.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

@media (min-width: $tablet-width) {
  .filter {
    padding-top: 119px;
    padding-bottom: 53px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .filter__top {
    width: auto;
    margin: 0;
  }

  .filter--open .filter__top,
  .filter--nojs .filter__top {
    margin-bottom: 56px;
  }

  .filter__top .filter__wrapper {
    flex-direction: row-reverse;
  }

  .filter__content .filter__wrapper {
    align-items: flex-start;
  }

  .filter__wrapper {
    width: 89.6%; /* 688px / 768px ~= 90% */
    max-width: 1320px; /* 1320px / .90 ~= 1188px (центровка начнётся чуть раньше 1440px) */
    margin: 0 auto;
    padding: 0 35px;
    flex-direction: row;
    justify-content: space-between;
  }

  .filter__heading {
    flex-direction: row-reverse;
    width: 100%;
  }

  .filter__title {
    display: none;
  }

  .filter__countries {
    padding-top: 0;
    margin-bottom: 0;
    width: 175px;
  }

  .filter__expands {
    padding-right: 30px;
    width: 175px;

    &::after {
      top: 7px;
      width: 27px;
      height: 5px;
    }
  }

  .filter--open .filter__expands,
  .filter--nojs .filter__expands {
    &::after {
      top: 1px;
      right: 3px;
      width: 19px;
      height: 19px;
    }
  }

  .filter__expand {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;

    &:first-child {
      display: block;
    }
  }

  .filter--open .filter__expand,
  .filter--nojs .filter__expand {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }

  .filter__world-parts {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    padding: 0;
    width: auto;
  }

  .filter__world-part {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-right: 27px;

    &:last-child {
      margin-right: 0;
    }
  }

  .filter__content {
    width: auto;
    margin: 0;
  }

  .filter__collapse {
    margin-top: 44px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 1.5;
    padding: 37px 10px 33px;
  }

  .filter__collapse span {
    padding-left: 32px;

    &::before {
      left: -6px;

      width: 19px;
      height: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter {
    position: static;
  }

  .filter--open .filter__top,
  .filter--nojs .filter__top {
    margin-bottom: 68px;
  }

  .filter__content .filter__wrapper {
    padding: 0;
  }

  .filter__wrapper {
    width: 100%;
    padding: 0 20px;
  }

  .filter__heading {
    justify-content: flex-start;
    flex-direction: row;
  }

  .filter__title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.2;
    width: auto;
    padding-left: 43px;
    margin-right: 40px;

    &::before {
      top: 2px;
      left: 0;
      width: 23px;
      height: 15px;
    }
  }

  .filter__expands {
    order: 1;
    margin-left: auto;
    margin-right: 45px;
  }

  .filter__countries {
    display: none;
  }

  .filter__collapse {
    margin-top: -138px;
    z-index: 1;
  }
}
