.flag {
  list-style: none;
}

.flag__link {
  display: block;

  border-radius: 2px;
  background-color: $mango;
}

.flag__description {
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
  color: $dark-slate-blue;
  text-transform: uppercase;
}
