.footer {
  position: relative;
  z-index: 4;

  margin-top: -33px;

  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;

  padding: 38px 0 16px 0;

  &--form {
    margin-top: -87px;
  }

  &--inner {
    margin-top: -21px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  padding: 0 25px;

  justify-content: center;
  align-items: center;
}

.footer__picture {
  margin-bottom: 37px;
}

.footer__img {
  display: block;
  width: 100px;
  height: 19px;
}

.footer__social {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  .social__link {
    background-color: $light-gold;

    &:hover {
      background-color: $mango-two;
    }
  }
}

.footer__copyright {
  align-self: stretch;
  border-top: 1px solid rgba(black, 0.05);
  padding-top: 13px;
}

@media (min-width: $tablet-width) {
  .footer {
    width: auto;
    margin: 0;
    margin-top: -60px;
    padding: 48px 0 48px 0;

    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }

  .footer__wrapper {
    width: 688px;
    margin: 0 auto;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__picture {
    margin-bottom: 0;
  }

  .footer__img {
    width: 164px;
    height: 42px;
  }

  .footer__social {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .footer__copyright {
    align-self: center;
    border-top: 1px solid transparent;
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1320px;
  }

  .footer__img {
    width: 198px;
    height: 52px;
  }

  .footer__social {
    margin-right: 42px;
  }
}
