.form legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;

  position: relative;
  top: 2px;

  margin: 0;
  padding: 0;

  text-align: center;
  text-transform: uppercase;

  color: $dark-slate-blue;
}

.form textarea {
  line-height: 1.3;

  width: 100%;
  padding: 0;

  resize: none;

  border: none;
  background-color: transparent;
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: 1px solid $cloudy-blue;
  border-radius: 10px;

  &--tags {
    padding: 16px 24px;
    margin-bottom: 16px;
  }

  &--vehicle {
    padding: 6px 24px 14px;
  }
}

.form__list {
  @include list-reset;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form__send {
  @include btn-res;

  width: 100%;
  padding: 7px 23px 3px;
  margin-bottom: 6px;

  font-size: 17px;
  font-weight: bold;
  line-height: 30px;

  display: block;

  text-align: center;
  text-transform: uppercase;

  color: $dark-two;
  border-radius: 60px;
  background-color: $light-gold;

  &:hover {
    background-color: $mango-two;
  }

  &:active {
    color: rgba($dark-two, 0.3);
  }
}
