.level {
  position: relative;
}

.level__progress {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  fill: none;
  stroke-width: 3px;
  stroke: $mango;
  stroke-linecap: round;
  stroke-dashoffset: 0;
}

.level__text {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;

  position: absolute;

  text-align: center;

  color: $white;
}
