.like {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.like__btn {
  @include btn-res;

  display: flex;

  width: 31px;
  height: 31px;
  margin-right: 6px;

  border-radius: 50%;
  background-color: $pale-grey;

  &:not(.like__btn--active):hover {
    &::before {
      opacity: 0.5;
    }
  }

  &:not(.like__btn--active):active {
    &::before {
      opacity: 0.1;
    }
  }

  &::before {
    content: "";

    opacity: 0.3;
    margin: auto;
    width: 13px;
    height: 11px;
    background-image: url("../img/svg/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.like__btn--active {
  background-color: $beige;

  &::before {
    background-image: url("../img/svg/heart-active.svg");
    opacity: 1;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.like__count {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
  text-transform: uppercase;

  color: $dark-two;
}

@media (min-width: $tablet-width) {
  .like__btn {
    width: 50px;
    height: 50px;

    &::before {
      width: 20px;
      height: 17px;
    }
  }

  .like__count {
    margin: 3px 0 0;
    font-size: 20px;
    line-height: 30px;
  }
}
