.main-nav {
  z-index: 8;
  display: flex;
  flex-direction: column;

  width: 100%;

  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.main-nav__fixed {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 27px;
  padding-bottom: 27px;
}

.main-nav__wrapper {
  padding: 0 25px;

  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-nav__fixed--scroll {
  background-color: white;
}

.main-nav__fixed--no-scroll {
  background-color: transparent;
}

.main-nav__fixed--no-scroll .main-nav__logo-img {
  &--block {
    display: none;
  }

  &--none {
    display: block;
  }
}

.main-nav__fixed--scroll .main-nav__logo-img {
  &--block {
    display: block;
  }

  &--none {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: 1319px) {
  .main-nav--nojs .main-nav__fixed {
    position: absolute;
  }

  .main-nav--nojs .main-nav__logo-img {
    &--block {
      display: block;
    }

    &--none {
      display: none;
    }
  }

  .main-nav--nojs .main-nav__drop-down {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    padding-top: 117px;
    padding-bottom: 29px;
  }

  .main-nav--nojs .main-nav__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 49px;
  }

  .main-nav--open .main-nav__fixed--no-scroll .main-nav__logo-img {
    &--block {
      display: block;
    }

    &--none {
      display: none;
    }
  }

  .main-nav--open .main-nav__fixed--scroll .main-nav__logo-img {
    &--block {
      display: block;
    }

    &--none {
      display: none;
    }
  }

  .main-nav--open .main-nav__toggle {
    width: 19px;
    height: 19px;
    z-index: 3;

    opacity: 0.2;
    background-image: url("../img/svg/menu-close.svg");
  }

  .main-nav--open .main-nav__drop-down {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    padding-top: 117px;
    padding-bottom: 29px;
  }

  .main-nav--open .main-nav__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 49px;
  }
}

.main-nav--inner .main-nav__fixed {
  padding-top: 19px;
  padding-bottom: 19px;
}

.main-nav__contacts {
  display: none;
}

.main-nav__logo {
  z-index: 3;
}

.main-nav__logo-img {
  width: 100px;
  height: 19px;
}

.main-nav__menu {
  width: 25px;
  max-height: 19px;
}

.main-nav__toggle {
  position: relative;
  font: inherit;

  width: 25px;
  height: 11px;
  padding: 0;

  cursor: pointer;

  color: inherit;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }
}

.main-nav__drop-down {
  display: none;
}

.main-nav__list {
  @include list-reset;

  display: flex;

  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-nav__item {
  overflow: hidden;
}

.main-nav__link {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  text-transform: uppercase;

  color: $dark-two;

  &:hover {
    color: $mango-two;
  }

  &:active {
    color: rgba($mango-two, 0.3);
  }

  &:hover span,
  &:focus span {
    transform: translateY(-100%);
  }
}

.main-nav__link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;

  &::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
  }
}

.main-nav__btn {
  padding: 7px 6px 3px;
  width: 189px;
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    margin: 0;
  }

  @media (max-width: 1319px) {
    .main-nav--nojs .main-nav__drop-down {
      padding-top: 183px;
      padding-bottom: 74px;
    }

    .main-nav--nojs .main-nav__list {
      align-items: flex-start;
      margin-bottom: 129px;
    }

    .main-nav--open .main-nav__drop-down {
      padding-top: 183px;
      padding-bottom: 74px;
    }

    .main-nav--open .main-nav__list {
      align-items: flex-start;
      margin-bottom: 129px;
    }
  }

  .main-nav--inner .main-nav__fixed {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-nav__contacts {
    display: flex;
    position: static;

    width: 188px;
    margin: 0;
    z-index: 2;
  }

  .main-nav__fixed {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .main-nav__wrapper {
    width: 89.6%;
    max-width: 1320px; /* 1320px / .90 ~= 1188px (центровка начнётся чуть раньше 1440px) */
    margin: 0 auto;
    padding: 0;

    align-items: center;
  }

  .main-nav__logo-img {
    width: 166px;
    height: 42px;
  }

  .main-nav__menu {
    margin-left: 17px;
    width: 19px;
    height: 19px;
  }

  .main-nav__link {
    letter-spacing: -0.5px;
    font-size: 60px;
    line-height: 71px;
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
  }

  .main-nav__fixed {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .main-nav__wrapper {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-nav__fixed--scroll .drop-down {
    background-color: white;
  }

  .main-nav__fixed--scroll .main-nav__link {
    color: $dark-two;
  }

  .main-nav__fixed--scroll .main-nav__menu {
    &::before {
      background-color: $dark-two;
    }
  }

  .main-nav__logo-img {
    width: 200px;
    height: 52px;

    &--block {
      display: none;
    }

    &--none {
      display: block;
    }
  }

  .main-nav__drop-down {
    display: block;
  }

  .main-nav__item {
    margin-right: 39px;

    &:last-child {
      margin-right: 0;
    }
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 30px;

    color: white;
  }

  .main-nav--inner .main-nav__fixed {
    padding: 48px 0;
  }

  .main-nav__menu {
    position: relative;
    width: 540px;
    max-height: none;
    margin-left: 41px;
    padding: 14px 0 39px 105px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      margin: auto;
      width: 60px;
      height: 2px;

      content: "";

      background-color: white;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__site-list {
    display: block;
    padding-top: 8px;
  }

  .main-nav__contacts {
    width: 290px;
    margin-left: auto;
  }
}
