.main-nav {
  position: fixed;
  top: 0;

  display: contents;

  width: 320px;
  margin: 0 auto;
}

.main-nav--open {
  background-image: linear-gradient(white);
}

.main-nav--inner {
  .main-nav__wrapper {
    margin-bottom: 56px;
  }

  .main-nav__contacts {
    display: none;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-bottom: 48px;

  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 25px;
}

.main-nav__menu {
  width: 25px;
  max-height: 19px;
}

.main-nav__toggle {
  font: inherit;

  width: 25px;
  height: 11px;
  padding: 0;

  cursor: pointer;

  color: inherit;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--open {
    width: 19px;
    height: 19px;

    opacity: 0.2;
    background-image: url("../img/svg/menu-close.svg");

    &:hover {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.main-nav__site-list {
  display: none;
}

.main-nav__contacts {
  position: absolute;
  z-index: 1;
  top: 458px;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  width: 270px;
  margin: auto;

  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main-nav__btn {
  padding: 7px 6px 3px;
  width: 189px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav--inner {
    .main-nav__wrapper {
      margin-bottom: 128px;
    }

    .main-nav__contacts {
      display: flex;
    }
  }

  .main-nav__wrapper {
    align-items: center;
    width: 688px;
    margin: 0 auto;
    margin-bottom: 73px;
    padding: 0;
  }

  .main-nav__menu {
    max-height: none;
  }

  .main-nav__contacts {
    position: static;

    width: 188px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav--inner {
    .main-nav__wrapper {
      margin-bottom: 118px;
    }
  }

  .main-nav__wrapper {
    width: 1320px;
    margin-bottom: 110px;
  }

  .main-nav__menu {
    width: 540px;
    max-height: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__site-list {
    display: block;
    padding-top: 8px;
  }

  .main-nav__contacts {
    width: 290px;
  }
}
