.plans {
  position: relative;
  z-index: 1;

  width: auto;
  margin-top: -30px;
  padding-top: 29px;
  padding-bottom: 60px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: $pale-grey-two;
  background-image: linear-gradient($pale-grey-two, $pale-grey);
}

.plans__wrapper {
  padding: 0 25px;
}

.plans__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;

  margin: 0;
  margin-bottom: 29px;

  letter-spacing: normal;

  color: $dark-slate-blue;
}

.plans__list {
  @include list-reset;
  counter-reset: myCounter;
}

.plans__item {
  margin-bottom: 10px;
  padding: 21px 24px 20px;

  color: $dark-slate-blue;
  border-radius: 10px;
  background-color: white;

  &::before {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 16px;

    display: inline;

    content: counter(myCounter) ".";
    counter-increment: myCounter;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plans__subtitle {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;

  display: inline-block;

  margin: 0;
  margin-bottom: 18px;

  letter-spacing: normal;
}

.plans__content {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;

  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.plans__details {
  margin-bottom: 19px;
}

.plans__details p {
  margin: 0;
  color: $dark-slate-blue;
}

.plans__link {
  font: inherit;
  color: rgba(black, 0.3);

  &:hover {
    color: rgba(black, 0.6);
  }

  &:active {
    color: rgba(black, 0.1);
  }
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .plans {
    width: auto;
    margin: 0;
    margin-top: -31px;
    padding-top: 50px;
    padding-bottom: 107px;
  }

  .plans__wrapper {
    width: 89.6%; /* 688px / 768px ~= 90% */
    max-width: 1320px; /* 1320px / .90 ~= 1188px (центровка начнётся чуть раньше 1440px) */
    margin: 0 auto;
    padding: 0 35px;
  }

  .plans__title {
    font-size: 36px;
    line-height: 1.39;
    margin-bottom: 41px;
  }

  .plans__item {
    padding: 28px 0 16px;

    @media (min-width: $tablet-width) and (max-width: 1319px) {
      position: relative;
    }

    &::before {
      font-size: 20px;
      line-height: 0.9;
      letter-spacing: 2px;

      @media (min-width: $tablet-width) and (max-width: 1319px) {
        position: absolute;
        right: 28px;
        top: 44px;
      }
    }
  }

  .plans__subtitle {
    font-size: 24px;
    line-height: 2.08;
    padding: 0 36px;
    margin-bottom: 20px;
    width: 100%;
  }

  .plans__content {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;

    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;

    padding: 20px 33px 0;
    border-top: 1px solid $pale-grey-two;
  }

  .plans__details {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: flex-start;

    width: 66%;
    margin: 0;
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .plans {
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin-top: -50px;
    padding-bottom: 113px;
  }

  .plans__wrapper {
    width: 100%;
    padding: 0 0 0 64px;
  }

  .plans__item {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    padding: 25px 39px 23px 42px;
    margin-bottom: 15px;

    &::before {
      margin-right: 33px;
    }
  }

  .plans__title {
    margin-bottom: 40px;
    padding-left: 5px;
  }

  .plans__subtitle {
    width: 42.5%;
    margin: 0;
    margin-right: 34px;
    padding: 0;
  }

  .plans__content {
    border: none;
    padding: 0;
    width: 50.1%;
  }

  .plans__details {
    width: 60.1%;
  }
}
