.preferred {
  display: flex;
  overflow: hidden;
  flex-direction: row;

  list-style: none;

  justify-content: center;
  align-items: flex-start;
}

.preferred__item {
  width: 32px;
  height: 32px;
  margin-right: 1px;

  &:last-child {
    margin-right: 0;
  }
}

.preferred__link {
  display: block;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: $mango;

  svg {
    width: 32px;
    height: 32px;
  }
}
