.site-list {
  @include list-reset;

  display: flex;

  justify-content: flex-start;

  &--main-nav {
    flex-direction: row;
    align-items: flex-start;
  }

  &--drop-down {
    flex-direction: column;
    align-items: center;
  }
}

.site-list__link {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;

  text-transform: uppercase;

  color: $dark-two;

  &:hover:not(.site-list__link--active) {
    color: $mango-two;
  }

  &:active:not(.site-list__link--active) {
    color: rgba($mango-two, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    &--drop-down {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .site-list__link {
    letter-spacing: -0.5px;
    font-size: 60px;
    line-height: 71px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    margin-right: 39px;

    &:last-child {
      margin-right: 0;
    }
  }

  .site-list__link {
    font-size: 20px;
    line-height: 30px;

    color: white;
  }
}
