.slider__control {
  @include btn-res;

  display: block;

  width: 9px;
  height: 17px;

  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;

  &--prev {
    background-image: url("../img/svg/month-arrow-left.svg");
  }

  &--next {
    background-image: url("../img/svg/month-arrow-right.svg");
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.1;
  }
}
