.social {
  flex-direction: row;

  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.social__item {
  width: 45px;
  height: 45px;
}

.social__link {
  display: block;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &--fb {
    background-size: 11px 21px;
    background-image: url("../img/svg/facebook.svg");
  }

  &--vk {
    background-size: 23px 12px;
    background-image: url("../img/svg/vk.svg");
  }

  &--insta {
    background-size: 18px 28px;
    background-image: url("../img/svg/instagram.svg");
  }

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .social {
    justify-content: flex-start;
  }

  .social__item {
    width: 61px;
    height: 61px;
  }

  .social__link {
    width: 61px;
    height: 61px;

    &--fb {
      background-size: 14px 28px;
    }

    &--vk {
      background-size: 31px 16px;
    }

    &--insta {
      background-size: 24px 24px;
    }
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .social {
    flex-direction: row;
  }
}
