.social__item {
  width: 45px;
  height: 45px;
}

.social__link {
  display: flex;

  width: 45px;
  height: 45px;

  border-radius: 50%;

  &::before {
    content: "";
    margin: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.social__link--fb {
  &::before {
    width: 11px;
    height: 21px;
    background-image: url("../img/svg/facebook.svg");
  }
}

.social__link--vk {
  &::before {
    width: 23px;
    height: 12px;
    background-image: url("../img/svg/vk.svg");
  }
}

.social__link--insta {
  &::before {
    width: 18px;
    height: 18px;
    background-image: url("../img/svg/instagram.svg");
  }
}

/* Tablet styles */

@media (min-width: $tablet-width) {
  .social {
    justify-content: flex-start;
  }

  .social__item {
    width: 61px;
    height: 61px;
  }

  .social__link {
    width: 61px;
    height: 61px;
  }

  .social__link--fb {
    &::before {
      width: 14px;
      height: 28px;
    }
  }

  .social__link--vk {
    &::before {
      width: 31px;
      height: 16px;
    }
  }

  .social__link--insta {
    &::before {
      width: 24px;
      height: 24px;
    }
  }
}

/* Desktop styles */

@media (min-width: $desktop-width) {
  .social {
    flex-direction: row;
  }
}
