.traveler-positioner {
  width: 320px;
  margin: 0 auto;
}

.traveler-positioner__wrapper {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 0 25px;

  justify-content: flex-start;
  align-items: flex-start;
}

.traveler-positioner__traveler-filter {
  width: 100%;
}

.traveler-positioner__catalog {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .traveler-positioner {
    width: auto;
    margin: 0;
  }

  .traveler-positioner__wrapper {
    width: 688px;
    margin: 0 auto;
    padding: 0;
  }

  .traveler-positioner__traveler-filter {
    width: 100%;
  }

  .traveler-positioner__catalog {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .traveler-positioner__wrapper {
    width: 1320px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .traveler-positioner__traveler-filter {
    width: 285px;
  }

  .traveler-positioner__catalog {
    width: 950px;
  }
}
