.traveler-invite {
  position: relative;
  background-color: white;
  border-radius: 20px;
}

.traveler-invite__info {
  padding: 15px 25px 58px 25px;
}

.traveler-invite__interests {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.traveler-invite__preferences {
  margin-bottom: 10px;
}

.traveler-invite__heading {
  align-self: flex-end;
  width: 64%;
  margin-bottom: 6px;
}

.traveler-invite__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: $dark-slate-blue;
  margin: 0;
  max-width: 106px;
}

.traveler-invite__add {
  align-self: flex-end;
  width: 64%;
  margin-bottom: 13px;
}

.traveler-invite__call {
  position: absolute;
  bottom: 23px;
  left: 20px;
}

.traveler-invite__like {
  button {
    position: absolute;
    left: 67px;
    top: 55px;
    z-index: 2;
  }
}

.traveler-invite__hashtags {
  text-align: left;

  a {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;

    color: $greyish-brown;
  }
}

.traveler-invite__subtitle {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 17px;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;

  color: $greyish-brown;

  &::before,
  &::after {
    content: "";

    width: 14px;
    height: 1px;

    background: $pale-grey;
  }

  &::before {
    margin-right: 13px;
  }

  &::after {
    margin-left: 13px;
    flex-grow: 1;
  }
}

.traveler-invite__list {
  @include list-reset;

  &--wishes {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    .traveler-invite__item {
      width: 100%;
      margin-bottom: 10px;
      position: relative;
    }

    .traveler-invite__country {
      position: absolute;
      top: -3px;
      left: -1px;
      width: 26px;
      height: 18px;
      border-radius: 2px;
      background-color: $mango;

      svg {
        width: 26px;
        height: 18px;
      }
    }

    .traveler-invite__description {
      font-size: 15px;
      font-weight: normal;
      line-height: 18px;

      margin: 0;
      padding-left: 40px;

      letter-spacing: 0.3px;
      text-transform: uppercase;

      color: $dark-slate-blue;
    }
  }
}

.traveler-invite__half-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .traveler-invite__part {
    flex-grow: 1;
  }
}

.traveler-invite__level {
}

.traveler-invite__preferred {
  margin: 0;
  padding: 0;
  padding-left: 21px;
}

.traveler-invite__picture {
  background-color: $pale-grey;
}

.traveler-invite__img {
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 1;

  width: 70px;
  height: 70px;

  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
