.traveler-filter {
  background-color: $light-gold;
  padding: 26px 25px 22px;
  border-radius: 20px;
}

.traveler-filter__title {
  margin: 0;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 23px;

  color: $dark-slate-blue;
  margin-bottom: 19px;
}

.traveler-filter-form {
  legend {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;

    width: 100%;
    margin: 0;
    padding: 0;
  }

  button[type="button"] {
    display: block;

    width: 100%;
    padding: 0;
    padding-top: 12px;
    padding-bottom: 9px;

    text-align: left;
    text-transform: uppercase;

    color: $dark-slate-blue;
    border-top: 1px solid $macaroni-and-cheese;
  }

  ul {
    @include list-reset;

    flex-direction: column;

    margin-top: 5px;
    margin-bottom: 16px;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  label {
    display: block;

    cursor: pointer;
    user-select: none;
  }

  button[type="submit"] {
    @include btn-res;

    font-size: 17px;
    font-weight: bold;
    line-height: 30px;

    display: block;

    text-align: center;
    text-transform: uppercase;

    color: $dark-two;
    border-radius: 60px;
    background-color: white;
    width: 100%;
    padding: 7px 10px 3px;

    &:active {
      background-color: $macaroni-and-cheese;
      color: rgba($dark-two, 0.3);
    }
  }
}

.traveler-filter-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;

  &--typical {
    li {
      margin-bottom: 9px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    label {
      font-size: 15px;
      font-weight: 300;
      line-height: 21px;

      position: relative;

      padding-left: 27px;

      color: $greyish-brown;

      &::before {
        position: absolute;
        top: -1px;
        left: 0;

        width: 18px;
        height: 18px;

        content: "";

        border-radius: 4px;
        background-color: white;
      }

      &::after {
        position: absolute;
        top: 4px;
        left: 5px;

        display: none;

        width: 9px;
        height: 9px;

        content: "";

        background-image: url("../img/svg/tick.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    input[type="checkbox"] {
      &:checked + label {
        &::after {
          display: block;
        }
      }

      &:focus + label {
        &::before {
          outline: none;
          box-shadow: 0 0 0 1px $dark-two;
        }
      }

      &:checked:focus + label {
        &::before {
          outline: none;
          box-shadow: 0 0 0 1px $dark-two;
        }
      }
    }
  }

  &--vehicle {
    ul {
      flex-direction: row;

      margin-bottom: 19px;
    }

    label {
      width: 32.5px;
      height: 32.5px;

      border-radius: 50%;
      background-color: white;

      svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: auto;

        fill: rgba($greyish-brown, 0.15);
      }

      &:hover {
        svg {
          fill: rgba($greyish-brown, 0.3);
        }
      }

      &:active {
        background-color: $pale-grey-three;

        svg {
          fill: rgba($greyish-brown, 0.1);
        }
      }
    }

    input[type="checkbox"] {
      &:checked + label {
        svg {
          fill: $dark-slate-blue;
        }

        &:hover {
          svg {
            fill: rgba($dark-slate-blue, 0.7);
          }
        }

        &:active {
          svg {
            fill: rgba($dark-slate-blue, 0.3);
          }
        }
      }

      &:focus + label {
        outline: none;
        box-shadow: 0 0 0 1px $dark-two;
      }

      &:checked:focus + label {
        outline: none;
        box-shadow: 0 0 0 1px $dark-two;
      }
    }
  }
}
