.traveler-invite {
  position: relative;

  display: flex;
  flex-direction: row;

  border-radius: 20px;
  background-color: white;

  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  &--firsova {
    .traveler-invite__list--wishes {
      margin-bottom: 12px;
    }
  }

  &--demin {
    .traveler-invite__list--wishes {
      margin-bottom: 18px;
    }
  }

  &--smolov {
    .traveler-invite__list--wishes {
      margin-bottom: 15px;
    }
  }

  &--rogovaya {
    .traveler-invite__list--wishes {
      margin-bottom: 18px;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

    .traveler-invite__img {
      transform: scale(1.1);
    }
  }
}

.traveler-invite h3 {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;

  max-width: 106px;
  margin: 0;

  color: inherit;

  &::before {
    position: absolute;
    top: 8px;
    right: -38px;

    width: 6px;
    height: 6px;

    content: "";

    border-radius: 50%;
    background-color: $salmon;
  }
}

.traveler-invite--active h3 {
  &::before {
    background-color: $green-apple;
  }
}

.traveler-invite__header {
  display: contents;
  width: 100%;
}

.traveler-invite__main {
  display: contents;
}

.traveler-invite__title {
  margin-top: 15px;
  color: $dark-slate-blue;

  &:hover {
    color: rgba($dark-slate-blue, 0.7);
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
  }
}

.traveler-invite__hashtags {
  padding: 0 50px 0 25px;
  display: flex;
  flex-direction: row;

  width: 100%;

  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 13px;
}

.traveler-invite__hashtags a {
  margin-right: 4px;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;

  color: $greyish-brown;
}

.traveler-invite__add {
  display: contents;
}

.traveler-invite__call {
  width: calc(100% - 40px);
  margin-bottom: 22px;
  margin-left: 20px;
  padding: 7px 23px 3px;

  order: 1;
}

.traveler-invite__like {
  position: absolute;
  z-index: 2;
  top: 54px;
  left: 67px;
}

.traveler-invite__picture {
  position: relative;

  display: block;
  overflow: hidden;

  width: 70px;
  height: 70px;
  margin: 15px 16px 15px 18px;

  border-radius: 50%;
}

.traveler-invite__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 70px;
  height: 70px;
  margin: auto;

  border-radius: 50%;
}

.traveler-invite__visit {
  width: 100%;
}

.traveler-invite__visit .traveler-invite__subtitle {
  margin-bottom: 17px;
}

.traveler-invite__wrapper {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-bottom: 14px;

  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.traveler-invite__vehicle {
  width: 69%;

  .traveler-invite__subtitle {
    margin-bottom: 14px;
  }
}

.traveler-invite__level {
  width: 31%;

  .traveler-invite__subtitle {
    margin-bottom: 7px;
  }
}

.traveler-invite__subtitle {
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;

  display: flex;

  margin: 0;

  color: $greyish-brown;

  align-items: center;

  &::before,
  &::after {
    content: "";

    width: 14px;
    height: 1px;

    background: $pale-grey;
  }

  &::before {
    margin-right: 13px;
  }

  &::after {
    margin-left: 13px;
    flex-grow: 1;
  }
}

.traveler-invite__list {
  @include list-reset;
  display: flex;

  padding: 0 25px;

  justify-content: flex-start;
  align-items: center;
}

.traveler-invite__list--wishes {
  flex-direction: column;

  .traveler-invite__item {
    width: 100%;
    margin-bottom: 9.5px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .traveler-invite__description {
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;

    margin: 0;
    padding-left: 39px;

    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: $dark-slate-blue;
  }
}

.traveler-invite__country {
  position: absolute;
  top: -3px;
  left: -1px;

  width: 26px;
  height: 18px;

  border-radius: 2px;
}

.traveler-invite__country svg {
  width: 26px;
  height: 18px;
}

.traveler-invite__list--preferred {
  flex-direction: row;

  .traveler-invite__item {
    width: 32px;
    height: 32px;
  }

  .traveler-invite__item--active {
    .traveler-invite__vehicle-icon {
      fill: $dark-slate-blue;
    }
  }

  .traveler-invite__link {
    display: flex;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: $pale-grey;
  }

  .traveler-invite__vehicle-icon {
    margin: auto;

    fill: rgba($greyish-brown, 0.15);

    &--plane {
      width: 14px;
      height: 16px;
    }

    &--bus {
      width: 13px;
      height: 16px;
    }

    &--bike {
      width: 19px;
      height: 17px;
    }

    &--run {
      width: 15px;
      height: 17px;
    }
  }
}

.traveler-invite__info {
  width: 100%;
}

.traveler-invite__grade {
  padding-left: 19px;
}

@media (min-width: $tablet-width) {
  .traveler-invite--firsova,
  .traveler-invite--demin,
  .traveler-invite--smolov,
  .traveler-invite--rogovaya {
    .traveler-invite__list--wishes {
      margin-bottom: 20px;
    }
  }

  .traveler-invite__header {
    display: flex;
    flex-direction: row;

    width: 87.5%;
    padding: 35px 35px 22px;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    order: 1;
  }

  .traveler-invite__picture {
    width: 190px;
    height: 190px;
    margin: 0;
    margin-right: 30px;

    border-radius: 17px;
  }

  .traveler-invite__img {
    width: 190px;
    height: 190px;
    border-radius: 17px;
  }

  .traveler-invite__main {
    display: flex;
    flex-direction: column;

    width: 49%;

    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .traveler-invite__title {
    margin-top: 0;
    margin-bottom: 16px;
    width: 255px;
  }

  .traveler-invite h3 {
    display: inline;
    font-size: 30px;
    line-height: 30px;

    max-width: none;

    &::before {
      top: 9px;
      right: -30px;
      width: 7px;
      height: 7px;
    }
  }

  .traveler-invite__hashtags {
    padding: 0;
    margin-bottom: 45px;
    width: 248px;
  }

  .traveler-invite__hashtags a {
    font-size: 20px;
    line-height: 24px;
    margin-right: 6px;
  }

  .traveler-invite__add {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 100%;
  }

  .traveler-invite__call {
    width: 148px;
    margin-bottom: 0;
    margin-left: 0;
    padding: 12px 15px 8px;

    order: 0;
  }

  .traveler-invite__like {
    position: static;
  }

  .traveler-invite__info {
    display: contents;
  }

  .traveler-invite__visit {
    order: 3;

    .traveler-invite__subtitle {
      margin-bottom: 17px;
    }
  }

  .traveler-invite__subtitle {
    &::before {
      width: 70px;
    }
  }

  .traveler-invite__list--wishes {
    flex-direction: row;
    padding: 0 37px;
    margin-bottom: 0;

    .traveler-invite__country {
      top: 0;
      width: 35px;
      height: 24px;

      svg {
        width: 35px;
        height: 24px;
      }
    }

    .traveler-invite__item {
      width: auto;
      margin-bottom: 0;
      margin-right: 4.5%;
    }

    .traveler-invite__description {
      font-size: 20px;
      line-height: 30px;
      padding-left: 45px;
    }
  }

  .traveler-invite__wrapper {
    flex-direction: column;

    width: 60px;
    margin-bottom: 0;
    padding-top: 38px;

    order: 2;
    align-items: center;
  }

  .traveler-invite__vehicle {
    width: auto;
    margin-bottom: 13px;

    .traveler-invite__subtitle {
      display: none;
    }
  }

  .traveler-invite__list--preferred {
    flex-direction: column;
    padding: 0;

    .traveler-invite__item {
      width: 24px;
      height: 21px;
      margin-bottom: 11px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .traveler-invite__link {
      width: 24px;
      height: 21px;
      background-color: transparent;
    }

    .traveler-invite__vehicle-icon {
      &--plane {
        width: 19px;
        height: 21px;
      }

      &--bus {
        width: 17px;
        height: 21px;
      }

      &--bike {
        width: 24px;
        height: 21px;
      }

      &--run {
        width: 20px;
        height: 21px;
      }
    }
  }

  .traveler-invite__level {
    width: auto;

    .traveler-invite__subtitle {
      display: none;
    }
  }

  .traveler-invite__grade {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .traveler-invite__vehicle {
    margin-bottom: 0;
  }

  .traveler-invite--firsova,
  .traveler-invite--demin,
  .traveler-invite--smolov,
  .traveler-invite--rogovaya {
    .traveler-invite__list--wishes {
      margin-bottom: 0;
    }
  }

  .traveler-invite__header {
    width: 630px;
    padding: 0;
  }

  .traveler-invite__main {
    padding: 46px 27px 48px 56px;
    width: 345px;
    align-items: center;
  }

  .traveler-invite__info {
    display: flex;
    flex-direction: column;

    width: 33%;
    min-height: 285px;
    padding: 48px 38px 43px 41px;

    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    order: 2;
  }

  .traveler-invite__wrapper {
    flex-direction: row;

    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    padding: 0;
  }

  .traveler-invite__visit {
    order: 0;
    margin-bottom: 30px;

    .traveler-invite__subtitle {
      display: none;
    }
  }

  .traveler-invite__title {
    margin-bottom: 18px;
  }

  .traveler-invite h3 {
    &::before {
      top: 11px;
      left: -26px;
    }
  }

  .traveler-invite__picture {
    width: 285px;
    height: 285px;
    margin: 0;
    margin-right: 0;

    border-radius: 17px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .traveler-invite__img {
    width: 285px;
    height: 285px;

    border-radius: 17px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .traveler-invite__list--wishes {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;

    .traveler-invite__description {
      padding-left: 57px;
    }

    .traveler-invite__item {
      margin-bottom: 7px;
    }

    .traveler-invite__country {
      left: 3px;
    }
  }

  .traveler-invite__list--preferred .traveler-invite__item {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .traveler-invite__list--preferred {
    flex-direction: row;
  }
}
