.traveler-preview {
  display: flex;
  overflow: hidden;
  flex-direction: column-reverse;

  justify-content: flex-start;
  align-items: flex-start;
}

.traveler-preview__wrapper {
  display: flex;
  flex-direction: row;

  width: 82%;
  margin: 0 auto;

  justify-content: space-between;
  align-items: flex-start;
}

.traveler-preview__content {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: 25px;
  padding-bottom: 17px;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;

  justify-content: flex-start;
  align-items: center;
}

.traveler-preview__heading {
  margin-bottom: 9px;
}

.traveler-preview__picture {
  position: relative;
}

.traveler-preview__level {
  position: absolute;
  top: 16px;
  left: 17px;

  .level {
    position: relative;
    width: 60px;
    height: 60px;

    svg {
      width: 60px;
      height: 60px;
    }

    &--firsova {
      .level__progress {
        stroke-dasharray: 169;
      }
    }

    &--demin {
      .level__progress {
        stroke-dasharray: 144;
      }
    }
  }

  .level__progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;

    fill: rgba(black, 0.6);
    stroke-width: 3px;
    stroke: $mango;
    stroke-linecap: round;
    stroke-dashoffset: 0;
  }

  .level__text {
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;

    position: absolute;
    top: -10px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    text-align: center;

    color: white;

    &::before {
      position: absolute;
      bottom: -1px;
      left: 14px;

      width: 31px;
      height: 1px;

      content: "";

      background-color: rgba(white, 0.3);
    }

    &::after {
      font-size: 14px;
      font-weight: normal;
      line-height: 14px;

      display: block;

      content: "level";
    }
  }
}

.traveler-preview__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;

  margin: 0;
}

.traveler-preview__link {
  display: block;
  overflow: hidden;

  color: $dark-two;

  &:hover {
    color: rgba($dark-two, 0.7);
  }

  &:active {
    color: rgba($dark-two, 0.3);
  }

  &--img {
    width: 270px;
    height: 270px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &:active {
      color: rgba($dark-two, 0.3);
    }
  }
}

.traveler-preview__hashtags {
  width: 91%;
  margin-bottom: 6px;
}

.traveler-preview__list {
  position: absolute;
  z-index: 1;
  top: -11px;

  display: flex;
  flex-direction: row;

  max-width: 93%;
  list-style: none;
  margin: 0;
  padding: 0;

  justify-content: flex-start;
  align-items: flex-start;
}

.traveler-preview__item {
  width: 35px;
  height: 24px;
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }
}

.traveler-preview__country {
  display: block;
  width: 35px;
  height: 24px;
  border-radius: 2px;
  background-color: $mango;

  svg {
    width: 35px;
    height: 24px;
  }
}

.traveler-preview__preferred {
  max-width: 85%;
  margin: 0;
  padding: 0;
}
