.accordion__btn {
  @include btn-res;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 8px;
    height: 4px;

    content: "";

    background-image: url("../img/svg/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--open {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.accordion__panel {
  display: none;

  &--open {
    display: flex;
  }
}
