@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin btn-res {
  font: inherit;

  padding: 0;

  cursor: pointer;

  color: inherit;
  border: none;
  background-color: transparent;
}
